{% import 'bootstrap/wtf.html' as wtf %}

<!-- Header -->
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/images.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Add</h1>
            <span class="subheading">Add your required Credentials!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Footer -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

{{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
      </div>
    </div>
  </div>

<!-- Footer -->
{% include "footer.html" %}