{% import 'bootstrap/wtf.html' as wtf %}

<!-- Header -->
{% include "header.html" %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#">Password Manager</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home', req_id=req_id) }}">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/images6.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Edit</h1>
            <span class="subheading">Edit your Credentials!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Wtf Form Generated -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

{{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
      </div>
    </div>
  </div>

<!-- Footer -->
{% include "footer.html" %}